{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    
<div class="bg-light">
    <div class="container py-5">
      <div class="row h-100 align-items-center py-5">
        <div class="col-lg-6">
          <h1 class="display-5">About Us</h1>
          <p class="lead text-muted mb-0">With over 30 years of professional experience at the highest level, Elite Landscapes is a family business that strives to provide the best possible services!</p>
         
          </p>
        </div>
        <div class="col-lg-6 d-lg-block"><img src="/static/builtin/tree.png" alt="" class="img-fluid"></div>
      </div>
    </div>
  </div>
  
  <div class="bg-white py-5">
    <div class="container py-5 mb-5">
      <div class="row align-items-center">
        <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
          <h2 class="font-weight-light">Specialists</h2>
          <p class="font-italic text-muted mb-4">We specialize in many fields of landscaping and grounds keeping. We work throughout all seasons doing many different projects to satisfy our customers year-round</p><a href="services" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
        </div>
        <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2 d-lg-block"><img src="/static/builtin/flowerbed.png" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-6 d-lg-block"><img src="/static/builtin/ELLS_LOGO_B.png" alt="" class="img-fluid"></div>
        <div class="col-lg-4"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
          <h2 class="font-weight-light">Contact Us!</h2>
          <p class="font-italic text-muted mb-4">Feel free to contact us about any services at EliteLandscapesLLC@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
  
  
    
{% endblock %}