
/* BASIC */

html {
    background-color: #56baed;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: gray;
  }
  
  a {
    color: #92badd;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
  }
  
  h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px; 
    color: #cccccc;
  }

  h3 {
    margin-top: 10px;
    padding: 5px;
  }
  
  
  
  /* STRUCTURE */
  
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    margin-top: 200px;
  }
  
  #formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 20px;
    height: 350px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.5);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.5);
    text-align: center;
  }

  #formContent-login {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 20px;
    height: 325px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.5);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.5);
    text-align: center;
  }
  
  #formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 8px 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    height: 70px;
    
  }
  
  #footeropt {
    display: block;
    text-align: center;
    height: 25px;
    width: 75%;
    margin: 5px auto;
    padding-top: 5px;
  }

  #footeropttag{
    margin: 10px auto;
  }

  #or {
    margin: 5px auto;
  }
  
  
  /* TABS */
  
  h2.inactive {
    color: #cccccc;
  }
  
  h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
  }

  .divider{
    width: 2px;
    height: 40px;
    background-color: white;
    margin: 0 1.5px;
  }
  
  
  
  /* FORM TYPOGRAPHY*/
  
  input[type=button], input[type=submit], input[type=reset]  {
    background-color: #56baed;
    width: 100%;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: #39ace7;
  }
  
  input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  
  input[type=text], input[type="password"], input[type="email"], select, input[type="date"]{
    background-color: #f1f1f1;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 90%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }

  /* input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  } */
  
  input[type=text]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
  input[type=text]::placeholder, input[type=password]::placeholder, input[type=email]::placeholder{
    color: black;
  }

 

  input[type="submit"]{
    margin-top: 10px;
    margin-left: 0;
    padding: 15px 32px;
    margin: 5px;
    width: 85%;
  }
  
  
  
  /* ANIMATIONS */
  
  /* Simple CSS3 Fade-in-down Animation */
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  /* Simple CSS3 Fade-in Animation */
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  
  .fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }
  
  .fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  
  .fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  
  .fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  
  .fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }
  
  /* Simple CSS3 Fade-in Animation */
  .underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
  }
  
  .underlineHover:hover {
    color: #0d0d0d;
  }
  
  .underlineHover:hover:after{
    width: 100%;
  }

  @media screen and (max-width: 991px ) {
    .divider {
      height: 2px;
      width: 100%;
      color: white;
    }

  }
  
  
  
  /* OTHERS */
  
  *:focus {
      outline: none;
  } 
  
  /* #icon {
    
  } */

  input:focus::placeholder{
    color: transparent;
  }

  /* index page */

.indexshowcase{
  min-height: 400px;
  min-width: 400px;

  background: url('/static/builtin/villa.jpg') no-repeat 0;
  background-size: cover;

  color:#cccccc;
}

/* service page */

.card{
  max-height: auto;
  max-width: 500px;
  margin: 20px 20px;
}


.container-fluid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  
  
}

@media screen and (max-width: 991px) {
  .container-fluid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0 ,0 ,0.3);
  }

  .card{
    max-height: auto;
    max-width: 600px;
    margin: 20px 35px;
  }

  .services-divider{
    display: none;
  }
  
}

.heading{
  /* display: flex;
  align-items: center;
  justify-content: center; */
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  color: #fff;
  z-index: 2;
}



.services-divider{
  width: 98%;
  height: 3px;
  background-color: rgba(0,0,0,0.3);
  margin: 2px 15px;
  padding: 2px 20px;
}

#service-table{
  background-color: rgba(126, 124, 124, 0.1);
}

.btn{
  position: relative;
  bottom: 20px
}

.services-section{
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover {
  text-decoration: none;
  color: #92badd
}



/* service sign up */

.form-container{
  width: 300px;
  display: grid;
  justify-content: center;
  align-content: center;
  
}

.form{
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 15px 80px;
  margin: 5px;
}

#serviceSubmit {
  margin: 5px 0;
  width: 88%;
}

select{
  direction: ltr;
}

option{
  direction: ltr;
}

#service{
  width: 90%;
}
#service_date{
  width: 90%;
}

/* footer, login */

.footeropt{
  height: 200px;
}


/* dashboard */
table{
  margin: 0 auto;
  width: 80%;
  background-color: #cccccc3a;
  border-radius: 6px;
}

#dashboard-welcome{
  text-align: center;
  }

#table-header{
  text-align: center;
  display: block;
  color: black;
}

#service-table{
  justify-content: center;
  
}


td{
  color: black;
  background-color: #cccccc3a;
  
}

.container{
  padding-bottom: 50px;
  width: 45%;
}

/* settings */

#submit{
  width: 90%;
  margin-top: 7px;
}

#email_update{
  width: 90%;
}

/* about */

.row, .mb-5{
margin-bottom: 0;
}

@media screen and (max-width: 600px) 
  {
    .container{
      width: 90%;
    }
    .img-fluid{
      width: 60%;
      height: 50%;
      margin: 0 50px;
    }
    .wrapper{
      margin-top: 100px;
    }
  }